{% extends 'bootstrap/base.html' %}
  
{% block head %}
    <title>
        {% block title %}    UAD |  {% endblock %}
    </title>  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">   <!-- necessary for navbar -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
{% endblock %}
 
{% block body %}
    {% include 'navbar.html'%}

    {% block content %}    {% endblock %}

    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}
{% endblock %}
