{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    My Board!
{% endblock %}

{% block content %}

    <div class="container">
        <h3>Estos son tus recordatorios <span class="user-color">(@{{ current_user.id | capitalize }})</span>:</h3>
        <div class="container">
                {% for todo in todos %}
                    {{ macros.render_todos(todo, update, delete) }}     
                {% endfor %}
            {{ wtf.quick_form(todo_form)}}
        </div>
    </div>

    {% block scripts %}
        {{ super() }}
    {% endblock %} 

{% endblock %}