{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_todos(todo, update, delete) %}
    <ul class="list-group">
        <div class="container" id="todo">
            <li class="list-group-item">

                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        {% if todo.to_dict().status %}
                        <span class="badge badge-success">Finished</span>
                        {% else %}
                            <span class="badge badge-primary badge-pill"> Pending</span>
                        {% endif %}    
                        {{ todo.to_dict().description }}
                    </div>

                    <div class="col-md-1 col-md-pull-9">
                        <form action="{{ url_for('delete', todo_id=todo.id) }}" method="POST">
                        {{ wtf.form_field(delete.submit, class="btn btn-light") }}
                        </form>
                    </div>

                    <div class="col-md-2 col-md-pull-9">
                        <form action="{{ url_for('update', todo_id=todo.id, status=todo.to_dict().status) }}" method="POST">
                        {{ wtf.form_field(update.submit, class="btn btn-light") }}
                        </form>
                    </div>
                </div>
                
            </li>
        </div>
    </ul>
{% endmacro %}