{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    My Board!
{% endblock %}

{% block content %}

    <div class="container">
        {% if username %}
            <h1>Welcome: #{{ username | capitalize }}</h1>
        {% endif %}

        <h2>To Do:</h2>
        <div class="container", id="main-todo">
                {% for todo in todos %}
                    {{ macros.render_todos(todo, update, delete) }}     
                {% endfor %}
            {{ wtf.quick_form(todo_form)}}
        </div>
    </div>

    {% block scripts %}
        {{ super() }}
    {% endblock %} 

{% endblock %}


<!--
    - se crea archivo base.htrml que contendrá información por defecto del sitio.
    - Se extiende la base.html a myip.html.
    # Extender parece ser una manera de incorporar información preliminar a un template.
    - Se extinde base.html a myip.html.
    - Se generan blockes para <title> personalizado.
    - se mueve css a plantilla base.html.
    - Se crean Macros y se mueven algunas funcionalidades a este .html
-->