{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }}
    My Board!
{% endblock %}

{% block content %}

    <div class="container">
        {% if username %}
            <h1>Welcome: #{{ username | capitalize }}</h1>
        {% endif %}

        <h2>To Do:</h2>
        <div id="main-todo">
            <ul class="list-group">
                {% for todo in todos %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{ macros.render_todos(todo) }}
                        {{ macros.todo_status(todo) }}
                    </li>     
                {% endfor %}
            </ul>

            {{ wtf.quick_form(add_todo)}}

        </div>
    </div>

{% endblock %}


<!--
    - se crea archivo base.htrml que contendrá información por defecto del sitio.
    - Se extiende la base.html a myip.html.
    # Extender parece ser una manera de incorporar información preliminar a un template.
    - Se extinde base.html a myip.html.
    - Se generan blockes para <title> personalizado.
    - se mueve css a plantilla base.html.
    - Se crean Macros y se mueven algunas funcionalidades a este .html
-->